@import url('https://fonts.googleapis.com');


#wrapper {
    border: 3px solid #4CAF50;
    width: 50%;
    margin: 0 auto;
}

#span{ 
    color: #36670C;
}

body {
    background-color: #F9F6EE;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    height: 110px;
    width: 100%;
    z-index: 100;
    padding: 10px 0;
    box-sizing: border-box;
    justify-content: space-between;
}

#navigation_bar {
    display: flex;
    list-style: none;
    margin: 15px;
    padding: 10px;
    justify-content: space-evenly;
    background-color: #4CAF50;
    border-radius: 20px;
}

#navigation_bar li a {
    display: block;
    padding: 10px 10px;

    text-decoration: none;
    color: #2C3E50;
}

#navigation_bar li a:hover {
    background-color: #E5522B;
    color: #4CAF50;
    text-shadow: 1px 1px 1px #36670C;
    border-radius: 10px;
}

header img {

    width: 100px;
    height: 100px;
}


#main {
    text-align: center;
    margin: 100px;
    display: flex;
    justify-content: center;

}

#learn {
    font-family: "Open Sans", sans-serif;
}

#eating {
    color: #4CAF50;
    font-family: "Montserrat", sans-serif ;
}

#main_wrap {
    border: 3px solid #FF7043;
    width: 50%;
}

#btn {
    padding: 5px;
    margin: 15px;
    color: #4CAF50;
    border-radius: 10px;
    border: 2px solid #2C3E50;
    transition-duration: 0.2s;
    
}

#btn:hover {
    background-color: #FF7043;
    text-shadow: 1px 1px 1px #36670C;
}

footer {
    background-color: #4CAF50;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;

    padding: 10px 10px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: #2C3E50;
}

footer a:hover {
    color: #FF7043;
}

p {
    color: #2C3E50 ;
}
